<p id="notice"><%= notice %></p>

<h1>Poll Questions</h1>

<table class="table">
  <thead>
    <tr>
      <th>Text</th>
      <th>Polls</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @poll_questions.each do |poll_question| %>
      <tr>
        <td><%= poll_question.text %></td>
        <td>
          <% poll_question.polls.each do |poll| %>
            <%= poll.name %>
          <% end %>
        </td>
        <td><%= link_to 'Show', poll_question, class: "btn btn-primary btn-sm" %></td>
        <td><%= link_to 'Edit', edit_poll_question_path(poll_question), class: "btn btn-warning btn-sm" %></td>
        <td><%= link_to 'Destroy', poll_question, class: "btn btn-danger btn-sm",
          method: :delete,
          data: { confirm: 'Are you sure?' }
        %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Poll Question', new_poll_question_path %>
