<p id="notice"><%= notice %></p>

<h1>Answers</h1>

<table class="table">
  <thead>
    <tr>
      <th>Value</th>
      <th>Poll</th>
      <th>Poll question</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @answers.each do |answer| %>
      <tr>
        <td>
          <% if answer.poll_question.text? %>
            <%= answer.text_value %>
          <% else %>
            <%= answer.int_value %>
          <% end %> 
        </td>
        <td><% if answer.poll %><%= answer.poll.name %><% end %></td>
        <td><%= answer.poll_question.text %></td>
        <td><%= link_to 'Show', answer, class: "btn btn-primary btn-sm" %></td>
        <td><%= link_to 'Edit', edit_answer_path(answer), class: "btn btn-warning btn-sm" %></td>
        <td>
          <%= link_to 'Destroy', answer, class: "btn btn-danger btn-sm",
            method: :delete,
            data: { confirm: 'Are you sure?' }
          %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Answer', new_answer_path %>
