<p id="notice"><%= notice %></p>

<h1>Polls</h1>

<table class="table">
  <thead>
    <tr>
      <th>Activer</th>
      <th>Name</th>
      <th>Pub date</th>
      <th>Description</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @polls.each do |poll| %>
      <tr>
        <td><%= poll.active %></td>
        <td><%= poll.name %></td>
        <td><%= poll.pub_date %></td>
        <td><%= poll.description %></td>
        <% if !is_admin? %>
          <td><%= link_to 'Show', poll, class: "btn btn-primary btn-sm" %></td>
          <td><%= link_to 'Edit', edit_poll_path(poll), class: "btn btn-warning btn-sm" %></td>
          <td>
            <%= link_to 'Destroy', poll, class: "btn btn-danger btn-sm",
              method: :delete,
              data: { confirm: 'Are you sure?' }
            %>
          </td>
        <% end %>
        <td>
          <%= link_to 'Answer', poll_answer_url(poll), class: "btn btn-success btn-sm" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Poll', new_poll_path %>
