<p id="notice"><%= notice %></p>

<p>
  <strong>Active:</strong>
  <%= @poll.active %>
</p>

<p>
  <strong>Name:</strong>
  <%= @poll.name %>
</p>

<p>
  <strong>Pub date:</strong>
  <%= @poll.pub_date %>
</p>

<p>
  <strong>Description:</strong>
  <%= @poll.description %>
</p>

<p><strong>Questions:</strong></p>
<ul>
  <% @poll.poll_questions.each do |pq| %>
    <li>
      <%= pq.text %>
      <ul>
        <% pq.answers.group(:value).count.each do |key, count| %>
          <li>
            Nombre de réponse à <strong><%= key %></strong> : <%= count %>
          </li>
        <% end %>
      </ul>
    </li>
  <% end %>
</ul>

<%= link_to 'Edit', edit_poll_path(@poll) %> |
<%= link_to 'Back', polls_path %>
